@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.highlight--blue {
  background-color: #0B5ABD;
}
.highlight--blue h1, .highlight--blue h2,
.highlight--blue p,
.highlight--blue span {
  color: #F59EC1;
}
.highlight--blue.header a {
  color: #F59EC1;
}
.highlight--blue p:after, .highlight--blue img:not(.no-highlight) {
  filter: invert(100%) sepia(95%) saturate(7315%) hue-rotate(278deg) brightness(98%) contrast(91%);
}
.highlight--blue .button {
  background-color: #F59EC1;
  color: #0B5ABD;
}
.highlight--green {
  background-color: #008A6F;
}
.highlight--green h1, .highlight--green h2,
.highlight--green p,
.highlight--green span {
  color: #E0C6EE;
}
.highlight--green.header a {
  color: #E0C6EE;
}
.highlight--green p:after, .highlight--green img:not(.no-highlight) {
  filter: invert(80%) sepia(36%) saturate(329%) hue-rotate(219deg) brightness(100%) contrast(87%);
}
.highlight--green .button {
  background-color: #E0C6EE;
  color: #008A6F;
}
.highlight--lightBlue {
  background-color: #AECBF0;
}
.highlight--lightBlue h1, .highlight--lightBlue h2,
.highlight--lightBlue p,
.highlight--lightBlue span {
  color: #0B5ABD;
}
.highlight--lightBlue.header a {
  color: #0B5ABD;
}
.highlight--lightBlue p:after, .highlight--lightBlue img:not(.no-highlight) {
  filter: invert(20%) sepia(67%) saturate(3859%) hue-rotate(206deg) brightness(89%) contrast(91%);
}
.highlight--lightBlue .button {
  background-color: #0B5ABD;
  color: #AECBF0;
}
.highlight--white {
  background-color: white;
}
.highlight--white.header a {
  color: #030007;
}
.highlight--white img {
  filter: unset !important;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
 * Remove the margin in all browsers.
 */
* {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Remove the default border of button
 */
button {
  border: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

menu {
  list-style: none;
  padding-inline-start: 0;
}

@media screen and (min-width: 768px) {
  .element-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .element-desktop {
    display: none !important;
  }
}

@font-face {
  font-family: "quikens";
  src: url(/../../../fonts/Quikens-Regular.otf);
}
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Neue"), url(/../../../fonts/Helvetica-Neue.ttf) format("ttf");
}
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #030007;
}

.quikens {
  font-family: "quikens";
}

.bold {
  font-weight: 700;
}

@media screen and (min-width: 1760px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1760px) {
  html {
    font-size: 17px;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 411px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 410px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .element-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .element-desktop {
    display: none !important;
  }
}

img {
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

h1 {
  line-height: 1.45;
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 1.6666666667rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  h1 {
    font-size: 1.7142857143rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.1428571429rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 2.2222222222rem;
    line-height: 3.3333333333rem;
  }
  h2 img {
    width: 1.4444444444rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  h2 {
    font-size: 2.1428571429rem;
  }
  h2 img {
    width: 1.3571428571rem;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.7142857143rem;
    line-height: 2.5rem;
  }
  h2 img {
    width: 1.0714285714rem;
  }
}

h3 {
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  h3 {
    font-size: 1.3333333333rem;
    line-height: 2.5555555556rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  h3 {
    font-size: 1.1428571429rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.1428571429rem;
    line-height: 2.5rem;
  }
}

h4 {
  font-weight: bold;
}
@media screen and (min-width: 1280px) {
  h4 {
    font-size: 1.1111111111rem;
    line-height: 1.6666666667rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 1rem;
  }
}

.extreme--blue {
  line-height: 1.5;
  color: #0B5ABD;
  font-weight: 700;
}
@media screen and (min-width: 1280px) {
  .extreme--blue {
    font-size: 6.1111111111rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .extreme--blue {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .extreme--blue {
    font-size: 2.2857142857rem;
  }
}

strong {
  font-weight: unset;
  font-family: unset;
}

@media screen and (min-width: 1280px) {
  section {
    padding: 5.8333333333rem 14.2% 5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  section {
    padding: 5.5rem 5.7142857143rem 4.2142857143rem 5.7142857143rem;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 3.7142857143rem 2.5714285714rem 0.1428571429rem 2.5714285714rem;
  }
}
section:last-of-type {
  margin-bottom: 8rem;
}

.button {
  border-radius: 4px;
}
@media screen and (min-width: 1280px) {
  .button {
    padding: 1.0555555556rem 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .button {
    padding: 1.3571428571rem 5%;
  }
}
@media screen and (max-width: 768px) {
  .button {
    padding: 1.0714285714rem 5%;
  }
}
.button--black {
  color: white;
  background-color: #030007;
}

.text-figure,
.text {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .text-figure,
.text {
    font-size: 12px;
  }
}

li {
  list-style: url("../../../assets/images/flower--pink.svg");
  padding-left: 1.5rem;
}

.centered-annonce {
  text-align: center;
}
.centered-annonce > * {
  margin: auto;
}
.centered-annonce h2 {
  margin-bottom: 2rem;
}
.centered-annonce p {
  margin-bottom: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 99;
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 2.2222222222rem 7.1%;
  }
  .header__logo {
    width: 14.4444444444rem;
  }
  .header__items {
    display: flex;
  }
  .header__items a {
    margin-left: 3.1111111111rem;
  }
  .header__items a:active {
    font-weight: 500;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .header {
    padding: 1.5714285714rem 5.7142857143rem 1.5714285714rem 5.7142857143rem;
  }
  .header__logo {
    width: 7rem;
  }
  .header__items {
    display: flex;
  }
  .header__items a {
    margin-left: 1.9444444444rem;
  }
  .header__items a:active {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .header {
    min-width: 24.4285714286rem;
    padding: 1.7857142857rem 2.5714285714rem 1.7857142857rem 2.5714285714rem;
  }
  .header__navbar {
    overflow-y: scroll;
    background-color: #C3C3C3;
    transition: transform 0.3s;
    transform: translateX(-100%);
    -webkit-transition: transform 0.3s;
    -webkit-transform: translateX(-100%);
    z-index: 9;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header__navbar--container {
    display: flex;
    flex-direction: column;
    margin-top: 3.9285714286rem;
    margin-right: 2.6428571429rem;
    padding: 1.4285714286rem 1.7857142857rem 1.7857142857rem 2.5714285714rem;
    background-color: white;
  }
  .header__close {
    align-self: flex-end;
  }
  .header__text-figure {
    align-self: flex-end;
    width: 8.5714285714rem;
    font-size: 12px;
    position: relative;
    transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0);
  }
  .header__text-figure::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 8.5714285714rem 8.5714285714rem;
    position: absolute;
    display: inline-block;
    width: 8.5714285714rem;
    top: -51px;
    right: 3px;
    height: 8.5714285714rem;
    content: "";
  }
  .header__logo--mobile {
    margin-top: 0.3571428571rem;
    width: 12.3571428571rem;
    margin-bottom: 0.7142857143rem;
  }
  .header .navbar-show {
    width: 100%;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  .header .menu-burger {
    width: 1.9285714286rem;
  }
  .header__items {
    margin-top: 6.5714285714rem;
    display: flex;
    flex-direction: column;
  }
  .header__items > a {
    margin-bottom: 2.1428571429rem;
    margin-left: 2.2857142857rem;
  }
  .header__items > a.active {
    position: relative;
  }
  .header__items > a.active::before {
    position: absolute;
    left: -2.2857142857rem;
    content: url(../../../assets/images/flower-pink.svg);
  }
  .header__contacts {
    border-top: solid 1px #C3C3C3;
    margin-top: 2.7142857143rem;
    padding-top: 4rem;
  }
  .header__contacts > a {
    display: flex;
    margin-bottom: 1.0714285714rem;
  }
  .header__contacts > a > img {
    width: 1.0714285714rem;
    margin-right: 1.2142857143rem;
  }
  .header__social-networks {
    margin-top: 4.9285714286rem;
    display: flex;
    align-items: center;
  }
  .header__social-networks > figure {
    margin-right: 1.4285714286rem;
  }
}

.footer {
  background-color: #030007;
}
.footer a,
.footer p {
  color: white;
}
.footer a img,
.footer p img {
  filter: invert(100%);
}
.footer__container {
  display: flex;
}
.footer__legal-mentions {
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 5.0555555556rem 7.1% 1.7222222222rem;
  }
  .footer__container {
    justify-content: space-between;
  }
  .footer__logo {
    width: 14.4444444444rem;
  }
  .footer__social-networks {
    width: 12.7222222222rem;
  }
  .footer__social-networks--container {
    display: flex;
    align-items: center;
    margin-top: 1.8333333333rem;
  }
  .footer__social-networks--container figure {
    margin-right: 1rem;
  }
  .footer__menu a {
    margin-bottom: 1.8333333333rem;
  }
  .footer__contacts p {
    margin-bottom: 1.8333333333rem;
  }
  .footer a {
    display: block;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .footer {
    padding: 4.6428571429rem 5.7142857143rem 0.1428571429rem 5.7142857143rem;
  }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2.5fr;
    margin-bottom: 4.6428571429rem;
  }
  .footer__logo {
    grid-area: 1/1/2/3;
    width: 13.7142857143rem;
  }
  .footer__social-networks {
    grid-area: 2/1/2/3;
    align-self: end;
    width: 12.0714285714rem;
  }
  .footer__social-networks--container {
    display: flex;
    align-items: center;
    margin-top: 1.0714285714rem;
  }
  .footer__social-networks--container figure {
    margin-right: 1.2857142857rem;
  }
  .footer__menu {
    grid-area: 2/2/2/3;
    align-self: stretch;
  }
  .footer__menu a {
    margin-bottom: 1.0714285714rem;
  }
  .footer__contacts {
    grid-area: 2/3/3/4;
    align-self: stretch;
  }
  .footer__contacts p {
    margin-bottom: 1.0714285714rem;
  }
  .footer a {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 3.7142857143rem 2.5714285714rem 0.1428571429rem 2.5714285714rem;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.2142857143rem;
  }
  .footer__logo {
    width: 12.7142857143rem;
    margin-bottom: 2.7857142857rem;
  }
  .footer__social-networks {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2.0714285714rem;
  }
  .footer__social-networks--container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.4285714286rem;
  }
  .footer__social-networks--container > figure {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .footer__menu {
    text-align: center;
  }
  .footer__menu a {
    display: block;
    margin-bottom: 1.0714285714rem;
  }
  .footer__contacts {
    text-align: center;
  }
  .footer__contacts a,
.footer__contacts p {
    display: block;
    margin-bottom: 1.0714285714rem;
  }
  .footer__legal-mentions {
    display: block;
  }
}

.assets__container {
  position: relative;
}
.assets__decor {
  position: absolute;
}

@media screen and (min-width: 1280px) {
  .studio-presentation .text-figure {
    width: 7.5555555556rem;
    transform: matrix(0.95, 0.31, -0.31, 0.95, 0, 0);
    top: -6%;
    right: 18%;
  }
  .studio-presentation .text-figure p {
    position: relative;
  }
  .studio-presentation .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 11.1111111111rem 8.8888888889rem;
    position: absolute;
    display: inline-block;
    width: 11.1111111111rem;
    top: -56px;
    right: -37px;
    height: 8.8888888889rem;
    content: "";
  }
  .studio-presentation .flower--pink {
    width: 2.6111111111rem;
    top: 3%;
    right: 52%;
  }
  .studio-presentation .mesexpertises--pink {
    width: 10.8333333333rem;
    top: 47%;
    right: 40%;
    transform: matrix(0.98, -0.21, 0.21, 0.98, 0, 0);
  }
  .studio-presentation .arrow {
    width: 5.7222222222rem;
    top: 82%;
    right: 96%;
    transform: rotate(-52deg);
  }
  .studio-presentation .text {
    width: 6.8333333333rem;
    top: 94%;
    right: 100%;
    transform: matrix(0.96, -0.29, 0.29, 0.96, 0, 0);
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .studio-presentation .text-figure {
    width: 7.5555555556rem;
    transform: matrix(0.95, 0.31, -0.31, 0.95, 0, 0);
    top: -4%;
    right: 18%;
  }
  .studio-presentation .text-figure p {
    position: relative;
  }
  .studio-presentation .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 11.1111111111rem 8.8888888889rem;
    position: absolute;
    display: inline-block;
    width: 11.1111111111rem;
    top: -45px;
    right: -33px;
    height: 8.8888888889rem;
    content: "";
  }
  .studio-presentation .flower--pink {
    width: 3.3571428571rem;
    top: -3%;
    right: 54%;
  }
  .studio-presentation .mesexpertises--pink {
    width: 14rem;
    top: 44%;
    right: 40%;
    transform: matrix(0.98, -0.21, 0.21, 0.98, 0, 0);
  }
  .studio-presentation .arrow {
    width: 7.3571428571rem;
    top: 78%;
    right: 91%;
    transform: rotate(-52deg);
  }
  .studio-presentation .text {
    width: 6.8333333333rem;
    top: 91%;
    right: 96%;
    transform: matrix(0.96, -0.29, 0.29, 0.96, 0, 0);
  }
}
@media screen and (max-width: 768px) {
  .studio-presentation .text-figure {
    width: 7.5714285714rem;
    transform: matrix(0.95, 0.31, -0.31, 0.95, 0, 0);
    top: -42%;
    right: 7%;
    font-size: 0.8571428571rem;
  }
  .studio-presentation .text-figure p {
    position: relative;
  }
  .studio-presentation .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 9.2857142857rem 11.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 9.2857142857rem;
    top: -68px;
    right: -14px;
    height: 11.4285714286rem;
    content: "";
  }
  .studio-presentation .flower--pink {
    width: 1.2142857143rem;
    top: -3%;
    right: 42%;
  }
  .studio-presentation .mesexpertises--pink {
    width: 6.5714285714rem;
    top: 28%;
    right: 45%;
    transform: matrix(0.98, -0.21, 0.21, 0.98, 0, 0);
  }
  .studio-presentation .arrow {
    width: 8.5714285714rem;
    top: 55%;
    right: 47%;
    transform: rotate(-52deg);
  }
  .studio-presentation .text {
    width: 6.8333333333rem;
    top: 70%;
    right: 76%;
    font-size: 0.8571428571rem;
    transform: matrix(0.96, -0.29, 0.29, 0.96, 0, 0);
  }
}

@media screen and (min-width: 1280px) {
  .personal-presentation .rond--black {
    width: 5.8888888889rem;
    left: 4%;
    bottom: 16%;
  }
  .personal-presentation .flower--black {
    width: 1.1666666667rem;
    top: 30%;
    right: 31%;
  }
  .personal-presentation .text-figure {
    width: 5.6666666667rem;
    transform: matrix(0.95, -0.33, 0.33, 0.95, 0, 0);
    bottom: 36%;
    right: 22%;
  }
  .personal-presentation .text-figure p {
    position: relative;
  }
  .personal-presentation .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 10.5555555556rem 8.8888888889rem;
    position: absolute;
    display: inline-block;
    width: 10.5555555556rem;
    top: -56px;
    right: -49px;
    height: 8.8888888889rem;
    content: "";
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .personal-presentation .rond--black {
    width: 4rem;
    left: 4%;
    bottom: 16%;
  }
  .personal-presentation .flower--black {
    width: 0.7857142857rem;
    top: 30%;
    right: 31%;
  }
  .personal-presentation .text-figure {
    width: 7.2857142857rem;
    transform: matrix(0.95, -0.33, 0.33, 0.95, 0, 0);
    bottom: 20%;
    right: 10%;
  }
  .personal-presentation .text-figure p {
    position: relative;
  }
  .personal-presentation .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 12.5714285714rem 9.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 12.5714285714rem;
    top: -56px;
    right: -44px;
    height: 9.4285714286rem;
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .personal-presentation .rond--black {
    width: 4rem;
    left: 19%;
    top: 3%;
    transform: rotate(80deg);
  }
  .personal-presentation .flower--black {
    display: none;
  }
  .personal-presentation .text-figure {
    width: 5.1428571429rem;
    transform: matrix(0.95, -0.33, 0.33, 0.95, 0, 0);
    top: 20%;
    right: 10%;
  }
  .personal-presentation .text-figure p {
    position: relative;
  }
  .personal-presentation .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 7.5714285714rem 9.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 7.5714285714rem;
    top: -49px;
    right: -21px;
    height: 9.4285714286rem;
    content: "";
  }
}

@media screen and (min-width: 1280px) {
  .offers .text-figure {
    width: 6.7777777778rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    top: -8%;
    right: -30%;
  }
  .offers .text-figure p {
    position: relative;
  }
  .offers .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 8.8888888889rem 8.8888888889rem;
    position: absolute;
    display: inline-block;
    width: 8.8888888889rem;
    top: -61px;
    right: -24px;
    height: 8.8888888889rem;
    content: "";
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .offers .text-figure {
    width: 7.2857142857rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    bottom: 47%;
    right: -55%;
  }
  .offers .text-figure p {
    position: relative;
  }
  .offers .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 9rem 9.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 9rem;
    top: -52px;
    right: -18px;
    height: 9.4285714286rem;
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .offers .text-figure {
    width: 5.1428571429rem;
    transform: matrix(0.95, -0.33, 0.33, 0.95, 0, 0);
    top: 20%;
    right: 10%;
  }
  .offers .text-figure p {
    position: relative;
  }
  .offers .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 7.5714285714rem 9.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 7.5714285714rem;
    top: -49px;
    right: -21px;
    height: 9.4285714286rem;
    content: "";
  }
}

@media screen and (min-width: 1280px) {
  .collaboration .text-figure {
    width: 6.7777777778rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    bottom: 4%;
    left: 10%;
  }
  .collaboration .text-figure p {
    position: relative;
  }
  .collaboration .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 8.8888888889rem 8.8888888889rem;
    position: absolute;
    display: inline-block;
    width: 8.8888888889rem;
    top: -61px;
    right: -24px;
    height: 8.8888888889rem;
    content: "";
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .collaboration .text-figure {
    width: 7.2857142857rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    bottom: 4%;
    left: 10%;
  }
  .collaboration .text-figure p {
    position: relative;
  }
  .collaboration .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 9rem 9.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 9rem;
    top: -52px;
    right: -18px;
    height: 9.4285714286rem;
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .collaboration .text-figure {
    width: 5.1428571429rem;
    transform: matrix(0.95, -0.33, 0.33, 0.95, 0, 0);
    bottom: 4%;
    left: 10%;
  }
  .collaboration .text-figure p {
    position: relative;
  }
  .collaboration .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 7.5714285714rem 9.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 7.5714285714rem;
    top: -49px;
    right: -21px;
    height: 9.4285714286rem;
    content: "";
  }
}

@media screen and (min-width: 1280px) {
  .services-carte .text {
    width: 6.7777777778rem;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    bottom: 4%;
    right: 10%;
  }
  .services-carte .arrow {
    width: 6.7777777778rem;
    bottom: 14%;
    right: 19%;
    transform: rotate(-124deg) scaleY(-1);
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .services-carte .text {
    width: 8.7142857143rem;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    bottom: 4%;
    right: 10%;
  }
  .services-carte .arrow {
    width: 8.7142857143rem;
    bottom: 14%;
    right: 19%;
    transform: rotate(-124deg) scaleY(-1);
  }
}
@media screen and (max-width: 768px) {
  .services-carte .text {
    width: 8.7142857143rem;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    bottom: 4%;
    right: 10%;
  }
  .services-carte .arrow {
    width: 8.7142857143rem;
    bottom: 14%;
    right: 19%;
    transform: rotate(-124deg) scaleY(-1);
  }
}

@media screen and (min-width: 1280px) {
  .contact .text-figure {
    width: 5.6111111111rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    top: 54%;
    right: 49%;
  }
  .contact .text-figure p {
    position: relative;
  }
  .contact .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 8.8888888889rem 8.8888888889rem;
    position: absolute;
    display: inline-block;
    width: 8.8888888889rem;
    top: -61px;
    right: -24px;
    height: 8.8888888889rem;
    content: "";
  }
  .contact .text {
    width: 6.7777777778rem;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    bottom: 1%;
    right: 43%;
  }
  .contact .arrow {
    width: 6.7777777778rem;
    bottom: 8%;
    right: 53%;
    transform: rotate(-124deg) scaleY(-1);
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .contact .text-figure {
    width: 5.5714285714rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    top: 54%;
    right: 49%;
  }
  .contact .text-figure p {
    position: relative;
  }
  .contact .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 7.7857142857rem 11.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 7.7857142857rem;
    top: -63px;
    right: -20px;
    height: 11.4285714286rem;
    content: "";
  }
  .contact .text {
    width: 8.7142857143rem;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    bottom: 1%;
    right: 35%;
  }
  .contact .arrow {
    width: 6.7777777778rem;
    bottom: 8%;
    right: 53%;
    transform: rotate(-124deg) scaleY(-1);
  }
}
@media screen and (max-width: 768px) {
  .contact .text-figure {
    width: 2.7142857143rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    top: 22%;
    right: 31%;
  }
  .contact .text-figure p {
    position: relative;
  }
  .contact .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 7.7857142857rem 11.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 7.7857142857rem;
    top: -63px;
    right: -40px;
    height: 11.4285714286rem;
    content: "";
  }
  .contact .text {
    width: 8.7142857143rem;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    bottom: 28%;
    right: 29%;
  }
  .contact .arrow {
    width: 6.7777777778rem;
    bottom: 28%;
    right: 53%;
    transform: rotate(-139deg);
  }
}

@media screen and (min-width: 1280px) {
  .work-vision .text-figure {
    width: 5.6111111111rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    top: 17%;
    right: 25%;
  }
  .work-vision .text-figure p {
    position: relative;
  }
  .work-vision .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 8.8888888889rem 8.8888888889rem;
    position: absolute;
    display: inline-block;
    width: 8.8888888889rem;
    top: -61px;
    right: -24px;
    height: 8.8888888889rem;
    content: "";
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .work-vision .text-figure {
    width: 5.5714285714rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    top: 17%;
    right: 25%;
  }
  .work-vision .text-figure p {
    position: relative;
  }
  .work-vision .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 7.7857142857rem 11.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 7.7857142857rem;
    top: -63px;
    right: -20px;
    height: 11.4285714286rem;
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .work-vision .text-figure {
    width: 7.7142857143rem;
    transform: matrix(0.97, 0.24, -0.24, 0.97, 0, 0);
    top: 17%;
    right: 25%;
  }
  .work-vision .text-figure p {
    position: relative;
  }
  .work-vision .text-figure p::after {
    background-image: url("../../../assets/images/border-figure.svg");
    background-size: 7.7857142857rem 11.4285714286rem;
    position: absolute;
    display: inline-block;
    width: 7.7857142857rem;
    top: -63px;
    right: -6px;
    height: 11.4285714286rem;
    content: "";
  }
}

@media screen and (min-width: 1280px) {
  .insider .avecamour {
    width: 12.7777777778rem;
    transform: matrix(0.98, -0.21, 0.21, 0.98, 0, 0);
    top: 40%;
    left: 10%;
  }
  .insider .text {
    width: 12.7777777778rem;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    bottom: -10%;
    right: 10%;
  }
  .insider .arrow {
    width: 5.9444444444rem;
    bottom: 0%;
    right: 21%;
    transform: rotate(-124deg) scaleY(-1);
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .insider .avecamour {
    width: 16.4285714286rem;
    transform: matrix(0.98, -0.21, 0.21, 0.98, 0, 0);
    top: 40%;
    left: 10%;
  }
  .insider .text {
    width: 9.0714285714rem;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    bottom: -10%;
    right: 7%;
  }
  .insider .arrow {
    width: 5.9444444444rem;
    bottom: 0%;
    right: 21%;
    transform: rotate(-124deg) scaleY(-1);
  }
}
@media screen and (max-width: 768px) {
  .insider .avecamour {
    width: 16.4285714286rem;
    transform: matrix(0.95, 0.31, -0.31, 0.95, 0, 0);
    top: 15%;
    right: 10%;
  }
  .insider .text {
    width: 9.0714285714rem;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    bottom: 7%;
    right: 7%;
  }
  .insider .arrow {
    width: 5.9444444444rem;
    bottom: 10%;
    right: 31%;
    transform: rotate(-124deg) scaleY(-1);
  }
}

.intro {
  text-align: center;
  padding-left: unset;
  padding-right: unset;
}
@media screen and (min-width: 1280px) {
  .intro h1 {
    margin-top: 7.2777777778rem;
  }
  .intro__slogan {
    position: relative;
    width: 75%;
    margin: auto;
  }
  .intro__slogan span,
.intro__slogan p {
    font-size: 3.8888888889rem;
  }
  .intro__slogan span img,
.intro__slogan p img {
    width: 2.0555555556rem;
  }
  .intro__decor {
    position: absolute;
    width: 3.9444444444rem;
    left: 33%;
    bottom: -12%;
  }
  .intro__description {
    width: 33%;
    margin: 1.7777777778rem auto;
  }
  .intro__button {
    margin: 2.5555555556rem auto 7.2777777778rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .intro h1 {
    margin-top: 7.1428571429rem;
  }
  .intro__slogan {
    position: relative;
    width: 75%;
    margin: auto;
  }
  .intro__slogan span,
.intro__slogan p {
    font-size: 2.8571428571rem;
  }
  .intro__slogan span img,
.intro__slogan p img {
    width: 1.7857142857rem;
  }
  .intro__decor {
    position: absolute;
    width: 3.8571428571rem;
    left: 33%;
    bottom: -12%;
  }
  .intro__description {
    width: 38%;
    margin: 2.2857142857rem auto 0;
  }
  .intro__button {
    margin: 2.2857142857rem auto 7.1428571429rem;
  }
}
@media screen and (max-width: 768px) {
  .intro h1 {
    margin-top: 9.0714285714rem;
  }
  .intro__slogan {
    position: relative;
    width: 75%;
    margin: auto;
  }
  .intro__slogan span,
.intro__slogan p {
    font-size: 2.1428571429rem;
  }
  .intro__slogan span img,
.intro__slogan p img {
    width: 1.3571428571rem;
  }
  .intro__decor {
    position: absolute;
    width: 3.5714285714rem;
    left: 19%;
    bottom: -12%;
  }
  .intro__description {
    width: 59%;
    margin: 1.9285714286rem auto 0;
  }
  .intro__button {
    margin: 3.8571428571rem auto 9.7142857143rem;
  }
}

@media screen and (min-width: 1280px) {
  .studio-presentation {
    padding: 5.8333333333rem 7.1% 5rem 14.2%;
  }
  .studio-presentation__poster {
    margin: 2.6111111111rem -2rem 9.3333333333rem 6.8%;
    display: flex;
    flex-direction: column;
  }
  .studio-presentation__poster .button {
    align-self: flex-end;
    margin-top: 1.7777777778rem;
  }
  .studio-presentation__realisations {
    margin-top: 2.9444444444rem;
  }
  .studio-presentation__line {
    display: flex;
    margin-right: -6.8%;
    justify-content: space-between;
  }
  .studio-presentation__item {
    flex: 0 0 32%;
  }
  .studio-presentation__item figure {
    height: 20.7777777778rem;
  }
  .studio-presentation__item figure > img {
    height: 100%;
    object-fit: cover;
  }
  .studio-presentation__item h4 {
    margin-top: 1rem;
  }
  .studio-presentation__more {
    margin-top: 1.6666666667rem;
    display: flex;
    justify-content: flex-end;
  }
  .studio-presentation__more a {
    display: flex;
  }
  .studio-presentation__more a span {
    border-bottom: solid 1px black;
  }
  .studio-presentation__more a img {
    width: 1.3888888889rem;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .studio-presentation__poster {
    margin: 3.3571428571rem -2rem 12rem 1.4285714286rem;
    display: flex;
    flex-direction: column;
  }
  .studio-presentation__poster .button {
    align-self: flex-end;
    margin-top: 4.2142857143rem;
  }
  .studio-presentation__realisations {
    margin-top: 2.8571428571rem;
  }
  .studio-presentation__line {
    display: flex;
    justify-content: space-between;
  }
  .studio-presentation__item {
    flex: 0 0 32%;
  }
  .studio-presentation__item figure {
    height: 14.6428571429rem;
  }
  .studio-presentation__item figure > img {
    height: 100%;
    object-fit: cover;
  }
  .studio-presentation__item h4 {
    margin-top: 1rem;
  }
  .studio-presentation__more {
    margin-top: 1.8571428571rem;
    display: flex;
    justify-content: flex-end;
  }
  .studio-presentation__more a {
    display: flex;
  }
  .studio-presentation__more a span {
    border-bottom: solid 1px black;
  }
  .studio-presentation__more a img {
    width: 1.8571428571rem;
    margin-left: 1.2857142857rem;
  }
}
@media screen and (max-width: 768px) {
  .studio-presentation {
    padding-right: unset;
  }
  .studio-presentation h2 {
    margin-top: 2.2857142857rem;
  }
  .studio-presentation__poster {
    margin: 1.5714285714rem 0 6.1428571429rem;
    display: flex;
    flex-direction: column;
  }
  .studio-presentation__poster .button {
    align-self: flex-end;
    margin-top: 7.0714285714rem;
  }
  .studio-presentation__realisations {
    margin-top: 3.7857142857rem;
  }
  .studio-presentation__line {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .studio-presentation__line::-webkit-scrollbar {
    display: none;
  }
  .studio-presentation__line > * {
    scroll-snap-align: center;
  }
  .studio-presentation__item {
    flex: 0 0 73%;
    margin-right: 1.5rem;
  }
  .studio-presentation__item figure {
    height: 11.6428571429rem;
  }
  .studio-presentation__item figure > img {
    height: 100%;
    object-fit: cover;
  }
  .studio-presentation__item h4 {
    margin-top: 1rem;
  }
  .studio-presentation__more {
    margin-top: 2.1428571429rem;
    display: flex;
    justify-content: flex-end;
  }
  .studio-presentation__more a {
    display: flex;
  }
  .studio-presentation__more a span {
    border-bottom: solid 1px black;
  }
  .studio-presentation__more a img {
    width: 1.7857142857rem;
    margin-left: 1.2857142857rem;
  }
}

.personal-presentation__main {
  background-color: #F5F5F5;
}
@media screen and (min-width: 1280px) {
  .personal-presentation__container {
    display: flex;
    justify-content: space-between;
  }
  .personal-presentation__image {
    width: 29.7777777778rem;
    margin-right: 5%;
    height: 33.6111111111rem;
  }
  .personal-presentation__image > img {
    height: 100%;
    object-fit: cover;
  }
  .personal-presentation__text {
    margin: 8.6111111111rem 0% 0 5%;
  }
  .personal-presentation__text h2 {
    margin-bottom: 1.1111111111rem;
  }
  .personal-presentation__text h2 + p {
    margin-bottom: 5.3333333333rem;
    padding-right: 32%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .personal-presentation__container {
    display: flex;
    justify-content: space-between;
  }
  .personal-presentation__image {
    width: 18.3571428571rem;
    margin-right: 5%;
    height: 24.7857142857rem;
  }
  .personal-presentation__image > img {
    height: 100%;
    object-fit: cover;
  }
  .personal-presentation__text {
    margin: 8.6111111111rem 0% 0 5%;
  }
  .personal-presentation__text h2 {
    margin-bottom: 1.1111111111rem;
  }
  .personal-presentation__text h2 + p {
    margin-bottom: 5.3333333333rem;
    padding-right: 32%;
  }
}
@media screen and (max-width: 768px) {
  .personal-presentation:not(:first-of-type) {
    margin-top: 1.9285714286rem;
  }
  .personal-presentation__image {
    width: 13.0714285714rem;
    margin: auto;
    height: 14.8571428571rem;
  }
  .personal-presentation__image > img {
    height: 100%;
    object-fit: cover;
  }
  .personal-presentation__text {
    margin: 2.5rem auto 0;
    text-align: center;
  }
  .personal-presentation__text h2 {
    margin-bottom: 1.1111111111rem;
  }
  .personal-presentation__text h2 + p {
    margin: 0.7857142857rem auto 1.2142857143rem;
    width: 75%;
  }
  .personal-presentation__text .button {
    margin-bottom: 3.6428571429rem;
  }
}

.offers__container {
  display: flex;
  flex-wrap: wrap;
}
.offers__item {
  background-color: #F5F5F5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offers__item > div > * {
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .offers__container {
    margin-top: 3.1666666667rem;
    justify-content: space-between;
  }
  .offers__item {
    flex: 0 1 26%;
    width: 22.1111111111rem;
    padding: 5.3333333333rem 1.8888888889rem;
  }
  .offers__item figure {
    width: 8.2222222222rem;
  }
  .offers__item h3 {
    margin-top: 1.8888888889rem;
  }
  .offers__item .offers__description {
    margin-top: 0.7777777778rem;
  }
  .offers__item .button {
    margin-top: 2.1666666667rem;
  }
  .offers__item .button + p {
    margin-top: 0.7777777778rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .offers__container {
    margin-top: 4.0714285714rem;
    justify-content: space-around;
  }
  .offers__item {
    width: 19.7142857143rem;
    padding: 2.5714285714rem 1rem;
    margin-bottom: 1rem;
  }
  .offers__item figure {
    width: 7.3571428571rem;
  }
  .offers__item h3 {
    margin-top: 3.0714285714rem;
  }
  .offers__item .offers__description {
    margin-top: 0.8571428571rem;
  }
  .offers__item .button {
    margin-top: 2.4285714286rem;
  }
  .offers__item .button + p {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .offers__container {
    margin-top: 1.3571428571rem;
    flex-direction: column;
  }
  .offers__item {
    padding: 2rem 3.2142857143rem;
    margin-bottom: 1.2142857143rem;
  }
  .offers__item figure {
    width: 6.6428571429rem;
  }
  .offers__item h3 {
    margin-top: 2.2857142857rem;
  }
  .offers__item .offers__description {
    margin-top: 0.5714285714rem;
  }
  .offers__item .button {
    margin-top: 1.9285714286rem;
  }
  .offers__item .button + p {
    margin-top: 0.8571428571rem;
  }
}

.collaboration {
  display: flex;
  flex-direction: column;
}
.collaboration .button {
  align-self: flex-end;
}
.collaboration__item > p {
  color: #C3C3C3;
}
@media screen and (min-width: 1280px) {
  .collaboration .button {
    margin-top: 5.9444444444rem;
  }
  .collaboration__container {
    margin-top: 5.3333333333rem;
    display: flex;
    flex-wrap: wrap;
  }
  .collaboration__item {
    flex: 0 0 27%;
    margin-right: 3%;
    margin-bottom: 3.7222222222rem;
  }
  .collaboration__item > p {
    margin-top: 0.6666666667rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .collaboration .button {
    margin-top: 3.4285714286rem;
  }
  .collaboration__container {
    margin-top: 4.7142857143rem;
    display: flex;
    flex-wrap: wrap;
  }
  .collaboration__item {
    flex: 0 0 27%;
    margin-right: 2%;
    margin-bottom: 2.2142857143rem;
  }
  .collaboration__item > p {
    margin-top: 0.8571428571rem;
  }
}
@media screen and (max-width: 768px) {
  .collaboration .button {
    margin-top: 2.7142857143rem;
  }
  .collaboration__container {
    margin-top: 2.5714285714rem;
  }
  .collaboration__item {
    margin-bottom: 1rem;
  }
}

.faq__question.opened figure {
  transform: rotate(180deg);
  transition: transform 500ms ease-in-out;
}
.faq__question figure {
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out;
}
.faq__answer {
  display: none;
  background-color: #F5F5F5;
}
.faq__answer p {
  color: #707070;
}
.faq__open-question {
  display: flex;
  justify-content: space-between;
  background-color: #030007;
}
.faq__open-question span {
  color: white;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .faq h2 {
    margin-bottom: 1.1111111111rem;
  }
  .faq > p {
    width: 50%;
    margin-bottom: 2.2222222222rem;
  }
  .faq__question {
    margin-bottom: 1.5rem;
  }
  .faq__open-question {
    padding: 1.9444444444rem 2.1666666667rem;
  }
  .faq__answer {
    padding: 1.9444444444rem 2.1666666667rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .faq h2 {
    margin-bottom: 1.0714285714rem;
  }
  .faq > p {
    width: 50%;
    margin-bottom: 2.2857142857rem;
  }
  .faq__question {
    margin-bottom: 1.2857142857rem;
  }
  .faq__open-question {
    padding: 2.2142857143rem 2.7857142857rem;
  }
  .faq__answer {
    padding: 2.2142857143rem 2.7857142857rem;
  }
}
@media screen and (max-width: 768px) {
  .faq h2 {
    margin-bottom: 0.7142857143rem;
  }
  .faq > p {
    margin-bottom: 2.1428571429rem;
  }
  .faq__question {
    margin-bottom: 1.0714285714rem;
  }
  .faq__open-question {
    padding: 1.3571428571rem 0.8571428571rem;
  }
  .faq__open-question span {
    margin-right: 2rem;
  }
  .faq__answer {
    padding: 1.3571428571rem 0.8571428571rem;
  }
}

.services-carte__container {
  display: flex;
}
@media screen and (min-width: 1280px) {
  .services-carte h2 {
    margin-bottom: 0.5555555556rem;
  }
  .services-carte > p {
    width: 75%;
    margin-bottom: 3.7222222222rem;
  }
  .services-carte__title {
    margin-bottom: 1.1111111111rem;
  }
  .services-carte__container {
    justify-content: flex-start;
    margin-bottom: 2.2222222222rem;
  }
  .services-carte__item {
    width: 18%;
  }
  .services-carte__item:nth-child(2n+1) {
    margin-right: 1%;
  }
  .services-carte__item:nth-child(2n) {
    margin-left: 1%;
  }
  .services-carte__item figure {
    height: 11.3888888889rem;
  }
  .services-carte__item figure > img {
    height: 100%;
    object-fit: cover;
  }
  .services-carte__item h4 {
    margin-bottom: 0.8888888889rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .services-carte h2 {
    margin-bottom: 0.7142857143rem;
  }
  .services-carte > p {
    width: 75%;
    margin-bottom: 3.3571428571rem;
  }
  .services-carte__title {
    margin-bottom: 1.4285714286rem;
  }
  .services-carte__container {
    justify-content: flex-start;
    margin-bottom: 2.1428571429rem;
  }
  .services-carte__item {
    width: 18%;
  }
  .services-carte__item:nth-child(2n+1) {
    margin-right: 1%;
  }
  .services-carte__item:nth-child(2n) {
    margin-left: 1%;
  }
  .services-carte__item figure {
    height: 8.4285714286rem;
  }
  .services-carte__item figure > img {
    height: 100%;
    object-fit: cover;
  }
  .services-carte__item h4 {
    margin-bottom: 0.6428571429rem;
  }
}
@media screen and (max-width: 768px) {
  .services-carte h2 {
    margin-bottom: 0.9285714286rem;
  }
  .services-carte > p {
    margin-bottom: 3.2142857143rem;
  }
  .services-carte__title {
    margin-bottom: 1.4285714286rem;
    width: 80%;
    font-size: 1.4285714286rem;
  }
  .services-carte__container {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2.8571428571rem;
  }
  .services-carte__item {
    margin-bottom: 1.2857142857rem;
    width: 48%;
  }
  .services-carte__item:nth-child(2n+1) {
    margin-right: 1%;
  }
  .services-carte__item:nth-child(2n) {
    margin-left: 1%;
  }
}

@media screen and (min-width: 1280px) {
  .realisations__container {
    display: flex;
    margin-top: 8.7777777778rem;
  }
  .realisations__sidebar {
    flex: 0 0 18%;
  }
  .realisations__tag {
    margin-bottom: 0.5rem;
  }
  .realisations__main {
    flex: 0 0 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
  }
  .realisations__item {
    flex: 0 0 32%;
  }
  .realisations__item figure {
    height: 16.5555555556rem;
    margin-bottom: 0.2777777778rem;
  }
  .realisations__item figure > img {
    height: 100%;
    object-fit: cover;
  }
  .realisations__title {
    margin-bottom: 0.8333333333rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .realisations__container {
    display: flex;
    margin-top: 3.3571428571rem;
  }
  .realisations__sidebar {
    flex: 0 0 25.5%;
  }
  .realisations__tag {
    margin-bottom: 1.3571428571rem;
  }
  .realisations__main {
    flex: 0 0 74.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1%;
  }
  .realisations__item {
    flex: 0 0 32%;
  }
  .realisations__item figure {
    height: 11.0714285714rem;
    margin-bottom: 0.7142857143rem;
  }
  .realisations__item figure > img {
    height: 100%;
    object-fit: cover;
  }
  .realisations__title {
    margin-bottom: 1.0714285714rem;
  }
}
@media screen and (max-width: 768px) {
  .realisations__main {
    margin-top: 2.5714285714rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .realisations__item {
    flex: 0 0 48%;
  }
  .realisations__item:nth-child(n+1) {
    margin-right: 1%;
    margin-left: 1%;
  }
  .realisations__item > figure {
    height: 7.9285714286rem;
    margin-bottom: 0.5714285714rem;
  }
  .realisations__item > figure > img {
    height: 100%;
    object-fit: cover;
  }
  .realisations__title {
    margin-bottom: 1.0714285714rem;
  }
}

@media screen and (min-width: 1280px) {
  .realisations__background {
    position: absolute;
    top: 0;
    z-index: 99999;
    background-color: gray;
    padding: 12.1111111111rem 17.2% 6.4444444444rem;
  }
  .realisations__board {
    background-color: white;
    padding-top: 2.7222222222rem;
  }
  .realisations__back {
    display: flex;
    margin: 0 2.8888888889rem;
  }
  .realisations__back img {
    width: 1.5rem;
    margin-right: 0.25rem;
  }
  .realisations__name {
    margin: 1rem 2.8888888889rem 0;
  }
  .realisations__description {
    margin: 2rem 2.8888888889rem 0;
  }
  .realisations__poster {
    padding: 3.1666666667rem 0.8888888889rem 3.3888888889rem;
  }
  .realisations__other-projects {
    padding: 2.3333333333rem 4.7777777778rem 3.4444444444rem;
    display: flex;
    gap: 2%;
    background-color: #F5F5F5;
  }
  .realisations__other-item {
    flex: 0 0 48%;
  }
  .realisations__other-item > figure {
    height: 22.1666666667rem;
  }
  .realisations__other-item > figure > img {
    height: 100%;
    object-fit: cover;
  }
  .realisations__other-title {
    margin-top: 0.5555555556rem;
  }
  .realisations__wall .work-together {
    background-color: white;
    padding: 3.1111111111rem 0 7.7222222222rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .realisations__background {
    position: absolute;
    top: 0;
    z-index: 99999;
    background-color: gray;
    padding: 10.7142857143rem 7.7% 2.7142857143rem;
  }
  .realisations__board {
    background-color: white;
    padding-top: 2.7857142857rem;
  }
  .realisations__back {
    display: flex;
    margin: 0 2.5rem;
  }
  .realisations__back img {
    width: 1.5rem;
    margin-right: 0.25rem;
  }
  .realisations__name {
    margin: 1.1428571429rem 2.5rem 0;
  }
  .realisations__description {
    margin: 1.1428571429rem 2.5rem 0;
  }
  .realisations__poster {
    box-sizing: border-box;
    padding: 2.5714285714rem 0 3.4285714286rem;
  }
  .realisations__other-projects {
    padding: 2.7857142857rem 5.7142857143rem 1.4285714286rem;
    display: flex;
    gap: 2%;
    background-color: #F5F5F5;
  }
  .realisations__other-title {
    margin-top: 0.5555555556rem;
  }
  .realisations__other-item {
    flex: 0 0 48%;
  }
  .realisations__other-item > figure {
    height: 14.9285714286rem;
  }
  .realisations__other-item > figure > img {
    height: 100%;
    object-fit: cover;
  }
  .realisations__wall .work-together {
    background-color: white;
    padding: 5.1428571429rem 0 7.7222222222rem;
  }
}
@media screen and (max-width: 768px) {
  .realisations__background {
    position: absolute;
    top: 0;
    z-index: 99999;
    background-color: gray;
    padding: 6.3571428571rem 4.9% 2.7142857143rem;
  }
  .realisations__board {
    background-color: white;
    padding-top: 1.3571428571rem;
  }
  .realisations__back {
    display: flex;
    margin: 0 1rem;
  }
  .realisations__back img {
    width: 1.5rem;
    margin-right: 0.25rem;
  }
  .realisations__name {
    margin: 1.1428571429rem 1rem 0;
  }
  .realisations__description {
    margin: 1.1428571429rem 1rem 0;
  }
  .realisations__poster {
    box-sizing: border-box;
    padding: 2.5714285714rem 0 3.4285714286rem;
  }
  .realisations__other-projects {
    padding: 2.3571428571rem 2.6428571429rem 2rem;
    display: flex;
    background-color: #F5F5F5;
  }
  .realisations__other-title {
    margin-top: 0.7142857143rem;
  }
  .realisations__other-item {
    flex: 0 0 48%;
  }
  .realisations__other-item:first-child {
    margin-right: 1%;
  }
  .realisations__other-item:last-child {
    margin-left: 1%;
  }
  .realisations__other-item > figure {
    height: 7.9285714286rem;
  }
  .realisations__other-item > figure > img {
    height: 100%;
    object-fit: cover;
  }
  .realisations__wall .work-together {
    background-color: white;
    padding: 5.1428571429rem 0 7.7222222222rem;
  }
}

@media screen and (min-width: 1280px) {
  .contact h2 {
    margin-top: 9.4444444444rem;
  }
  .contact > p {
    width: 28%;
  }
  .contact > * {
    margin-left: 8rem;
  }
  .contact__data {
    margin-top: 6.4444444444rem;
    padding-left: 7.6666666667rem;
  }
  .contact__data a {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
  }
  .contact__data a img {
    width: 1.7777777778rem;
    margin-right: 1.3888888889rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .contact h2 {
    margin-top: 6.4285714286rem;
  }
  .contact > p {
    width: 41%;
  }
  .contact__data {
    margin-top: 5.5rem;
    padding-left: 5.1428571429rem;
  }
  .contact__data a {
    display: flex;
    align-items: center;
    margin-bottom: 3.2142857143rem;
  }
  .contact__data a img {
    width: 1.4285714286rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .contact h2 {
    margin-top: 10.2142857143rem;
    margin-bottom: 1rem;
  }
  .contact__data {
    margin-top: 4rem;
    margin-bottom: 22.8571428571rem;
  }
  .contact__data a {
    display: flex;
    align-items: center;
    margin-bottom: 1.0714285714rem;
  }
  .contact__data a img {
    width: 1.4285714286rem;
    margin-right: 1rem;
  }
}

.work-vision__flower {
  width: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1280px) {
  .work-vision > p {
    width: 45%;
  }
}

@media screen and (min-width: 1280px) {
  .insider__container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1%;
  }
  .insider__container > * {
    flex: 0 0 32%;
    height: 18.4444444444rem;
  }
  .insider__container > * > img {
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .insider__container {
    margin-top: 3.2142857143rem;
    display: flex;
    gap: 1%;
  }
  .insider__container > * {
    flex: 0 0 32%;
    height: 15rem;
  }
  .insider__container > * > img {
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .insider__container {
    margin-top: 2.7857142857rem;
    margin-bottom: 13.2142857143rem;
  }
  .insider__container > * {
    height: 15rem;
    margin-bottom: 0.8571428571rem;
  }
  .insider__container > * > img {
    height: 100%;
    object-fit: contain;
  }
}

/*# sourceMappingURL=style.css.map */
