//breakpoints
$breakpoints: (
    "mobiles": 410px,
    "tabletsPortrait": 768px,
    "tabletsLandscape": 1024px,
    "smallDesktop": 1280px,
    "mediumDesktop": 1440px,
    "bigDesktop": 1760px
);


//colors

$pink: #F59EC1;
$blue: #0B5ABD;
$green: #008A6F;
$lightBlue: #AECBF0;
$black: #030007;
$gray: #C3C3C3;



$rootFontSize: (
    "bigDesktop": 18,
    "mediumDesktop": 17,
    "smallDesktop": 16,
    "tabletsLandscape": 15,
    "mobiles": 14,
    "smallMobiles": 13
);

