//breakpoints
$breakpoints: (
    "mobiles": 410px,
    "tabletsPortrait": 768px,
    "tabletsLandscape": 1024px,
    "smallDesktop": 1280px,
    "mediumDesktop": 1440px,
    "bigDesktop": 1760px
);


//colors

$green: #4BA375;
$black: #151616;
$gray: #F4F4F4;



$rootFontSize: (
    "bigDesktop": 18,
    "mediumDesktop": 17,
    "smallDesktop": 16,
    "tabletsLandscape": 15,
    "mobiles": 14,
    "smallMobiles": 13
);

