.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;

  @include media-min("smallDesktop") {
    padding: px-to-rems(40, "bigDesktop") 7.1%;
    &__logo {
      width: px-to-rems(260, "bigDesktop");
    }
    &__items {
      display: flex;
      & a {
        margin-left: px-to-rems(56, "bigDesktop");
        &:active{
          font-weight: 500;
        }
      }
    }
  }

  @include media-min-and-max("tabletsPortrait", "smallDesktop") {
    padding: four-px-to-rems(22, 80, 22, 80, "mobiles");
    &__logo {
      width: px-to-rems(98, "mobiles");
    }
    &__items {
      display: flex;
      & a {
        margin-left: px-to-rems(35, "bigDesktop");
        &:active{
          font-weight: 500;
        }
      }
    }
  }

  
}
