
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    @include media-min("smallDesktop"){
    max-width: px-to-rems(1760, "bigDesktop");
        padding: four-px-to-rems(40, 140, 40, 140, "bigDesktop");
        & > figure{
            width: px-to-rems(205,"bigDesktop");
        }
    }
    @include media-min-and-max("tabletsPortrait", "smallDesktop"){
        max-width: px-to-rems(864, "mobiles");
        padding: four-px-to-rems(25, 80, 25, 80, "mobiles");
        & > figure{
            width: px-to-rems(98, "mobiles");
        }
    }
    
    @include media-max("tabletsPortrait"){
        min-width: px-to-rems(342,"mobiles");
        padding: four-px-to-rems(25, 36, 25, 36, "mobiles");
        

    & .navbar{
            overflow-y: scroll;
            background-color: $black;
            width: calc(67% - 45px);
            transition: transform 0.3s;
            transform: translateX(-100%);
            -webkit-transition: transform 0.3s;
            -webkit-transform: translateX(-100%);
            z-index: 9;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            padding: four-px-to-rems(25, 77, 25, 36, "mobiles");
            & > figure{
                width: px-to-rems(47,"mobiles");
            }
            & > menu{
                color: white;
            }
    }
    & .navbar-show{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    & .menu-burger{
        width: px-to-rems(27, "mobiles");
    }
}
}

img{
    width: 100%;
}




.navbar{
    & > menu{
        @include media-min("tabletsPortrait"){
    display: flex;
    & li{

        font-size: px-to-rems(16, "bigDesktop");
        margin-left: px-to-rems(66, "bigDesktop");
        @include media-min-and-max('tabletsPortrait', 'tabletsLandscape') {
            margin-left: px-to-rems(30, "mobiles");
        }
    }
}

    @include media-max("tabletsPortrait"){
        margin-top: px-to-rems(92, "mobiles");
        & li{

            font-size: px-to-rems(14, "mobiles");
            margin-bottom: px-to-rems(39, "mobiles");
    }

}
}
}


.active{
    @include media-max("tabletsPortrait"){
        border-left: solid 6px $green;
        margin-left: px-to-rems(-36, "mobiles");
        padding-left: calc(36px - 6px);
}
}


.social-networks{
    display: flex;
    width: px-to-rems(45, "mobiles");
    justify-content: space-between;
    .header &{
        position: absolute;
        bottom: 10%;
        right: px-to-rems(51, "mobiles");
    }
}