.highlight {

  &--blue {
    background-color: $blue;
    & h1, h2,
    p,
    span {
      color: $pink;
    }
@include stop-highlight($pink);

    &  p:after,  img:not(.no-highlight)  {
        filter: $black-to-pink;
    }
    & .button{
        background-color: $pink;
        color: $blue;
    }

  }
  &--green {
    background-color: $green;
    & h1, h2,
    p,
    span {
      color: $lightPink;
    }
    @include stop-highlight($lightPink);


    &  p:after,  img:not(.no-highlight)  {
        filter: $black-to-lightPink;
    }
    & .button{
        background-color: $lightPink;
        color: $green;
    }
  }
  &--lightBlue {
    background-color: $lightBlue ;
    & h1, h2,
    p,
    span {
      color: $blue;
    }
    @include stop-highlight($blue);
    &  p:after,  img:not(.no-highlight)  {
        filter: $black-to-blue;
    }
    & .button{
        background-color: $blue;
        color: $lightBlue ;
    }
  }
  //for header shutdown
  &--white {
    background-color: white;
    &.header > a{       
        color: $black;       
    }
    & img, p:after, p, span{
        filter: unset !important;
        color: black !important;
    }

    @include media-min("tabletsPortrait") {
      &.header  a{       
        color: black !important;    
      }
    }
  }
}
